%h4 Assignment for course #{@course.name}
%a.btn.btn-success{type: "button", href: new_course_assignment_path(@course)}
  %span.glyphicon.glyphicon-plus
  Add new
%table.table.table-hover
  %thead
    %tr
      %th #
      %th Name
      %th Submission cooldown (hours)
      %th
  %tbody
    - @assignments.each_with_index do |c,i|
      %tr
        %td{onclick: 'goToItem("'+course_assignment_test_reps_path(@course, c)+'");'}= i+1
        %td{onclick: 'goToItem("'+course_assignment_test_reps_path(@course, c)+'");'}= c.name
        %td{onclick: 'goToItem("'+course_assignment_test_reps_path(@course, c)+'");'}= c.cooldown
        %td
          %a.btn.btn-default{type: "button", href: edit_course_assignment_path(@course, c)}
            %span.glyphicon.glyphicon-pencil
          =link_to [@course, c], 'data-method' => :delete, :class => "btn btn-default", type: 'button', data: {confirm: "Are you sure?"} do
            %span.glyphicon.glyphicon-remove