%form
  .form-group
    %label{for: 'key'} LTI key
    %input.form-control#key{disabled: true, type: 'text', value: current_user.key}
  .form-group
    %label{for: 'key'} LTI secret
    %input.form-control#key{disabled: true, type: 'text', value: current_user.secret}